<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_player.css">
    <title>R jadeja</title>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".button1").click(function(){
          $("#Bowling_stats").toggle();
        });
        $(".button2").click(function(){
          $("#Batting_stats").toggle();
        });
      });
    </script>
  </head>
  <body>
    {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">R jadeja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
      <div class="row  bg_img border border-light border-2">
        <div class="col-md-6">
          <h1 class="animation text-danger">{{data.Player}}</h1>
          <div class="container mx-5 ">
            <h5 class="mb-4 mt-5 animation_info info_color">DOB          : {{data.Birth_date}}</h5>
            <h5 class="mb-4 animation_info info_color" >Bats/Bowls   : {{data.Bats_Bowls}}</h5>
            <h5 class="mb-4 animation_info info_color">Role         : {{data.Role}}</h5>
            <h5 class="animation_info info_color">Bowling Type : {{data.Bowling_Type}}</h5>
          </div>
        </div>

        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide rounded-start" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded-start">
              <div class="carousel-item active">
                <img src="../static/images/r_jadeja_slider_1.webp" class="d-block w-100 rounded-start" alt="..." width="50" height="300">
              </div>
              <div class="carousel-item">
                <img src="../static/images/r_jadeja_slider_2.webp" class="d-block w-100 rounded-start" alt="..." width="50" height="300">
              </div>
              <div class="carousel-item">
                <img src="../static/images/r_jadeja_slider_3.webp" class="d-block w-100 rounded-start" alt="..." width="50" height="300">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button  class="btn btn-secondary button1">Bowling Stats</button>
        <button  class="btn btn-secondary button2">Batting Stats</button>
      </div>

      {{!-- bowling stats --}}
      <div class="row bg-secondary" id="Bowling_stats" style="display:none;">
        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/all rounder bowlers ss/R jadeja_bowl.png" class="img-fluid shine rounded border border-dark border-2 mx-2 mb-4" alt="vk Image Here">
        </div>

        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/indian bowler all rounder line plot solo/R jadeja.png" class="img-fluid shine rounded border border-dark border-2 mx-2 mb-4" alt="vk Image Here">
        </div>

        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/indian bowler all rounder bar plot/R jadeja_bar.png" class="img-fluid shine rounded border border-dark border-2 me-3 mb-4" alt="vk Image Here">
        </div>
      </div>

      {{!-- Batting stats --}}
      <div class="row bg-secondary" id="Batting_stats" style="display:none;">
        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/allrounder batsmen ss/R jadeja_bat.png" class="img-fluid shine rounded border border-dark border-2 mx-2 mb-4" alt="vk Image Here">
        </div>

        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/indian batamen all rounder line/R jadeja.png" class="img-fluid shine rounded border border-dark border-2 mx-2 mb-4" alt="vk Image Here">
        </div>

        <div class="col-md-4 mt-4">
          <img src="../static/sujit_data/indian batsman All-rounder_bar/R jadeja_bar.png" class="img-fluid shine rounded border border-dark border-2 me-3 mb-4" alt="vk Image Here">
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>